.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    span {
      font-weight: bold;
      font-size: 20px;
      color: blue;
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid;
      border-radius: 5px;
      padding: 5px;

      input {
        border: none;
        width: 500px;
        background-color: transparent;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
      }
    }

    .dropDown {
      position: absolute;
      display: flex;
      align-content: center;
      justify-content: flex-end;
      top: 70px;
      right: 0px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      width: 200px;
      padding: 10px;
      box-sizing: border-box;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      li {
        padding: 8px 12px;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      li:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
